build/
*.o
*.d
lib*.a
lib*.pc

ffmpeg/.config
ffmpeg/.version
ffmpeg/config.asm
ffmpeg/config.fate
ffmpeg/config.h
ffmpeg/config.log
ffmpeg/config.mak
ffmpeg/doc/config.texi
ffmpeg/ffmpeg
ffmpeg/ffmpeg_g
ffmpeg/libavcodec/bsf_list.c
ffmpeg/libavformat/protocol_list.c
ffmpeg/libavutil/avconfig.h
ffmpeg/libavutil/ffversion.h